.Order {
    width: 80%;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.Ingredient {
    display: inline-block;
    padding: 5px;
    margin: 0 2px;
    border: 1px solid #ccc;
    text-transform: capitalize;
}